/* BASE STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root {
    /* sizes */
    --header-height: 6vh;
    --cell-size: 30px;

    /* gameplay */
    --columns: 1; /* changes with javascript */

    /* colours */
    --col-1: #c0fefc;
    --col-2: #3edbf0;
    --col-3: #77acf1;
    --col-4: #04009a;

    /* snake color */
    --col-snake: yellow;
    --col-snake-head: red;
    --col-food: green;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
}

/* SECTIONS OF PAGE */
header {
    grid-column: 1/3;
    background-color: var(--col-3);
    color: var(--col-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: var(--col-2);
    padding: 1em;
}

/* ELEMENTS OF PAGE */
.board-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--cell-size));
    font-size: 10px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--col-4);
    background-color: #000;
    color: #fff;
}

.snake { background-color: var(--col-snake); }
.snake-head { background-color: var(--col-snake-head); }
.food { background-color: var(--col-food); }